<div class='row'>
  <div class='small-6 columns small-centered'>
    <% @people.each do |person| %>
    <div class='row'>
      <div class='small-5 columns'>
        <strong><%= person.name %></strong>
      </div>
      <div class='small-5 columns text-right'>
        <strong><%= pluralize person.hours_remaining, 'hour' %></strong> remaining
      </div>
      <div class='small-2 columns'>
        <%= link_to 'details', details_path(person), class: 'tiny button radius', data: {reveal_id: 'details', reveal_ajax: true} %>
      </div>
      <hr />
    </div>
    <% end %>
  </div>
</div>

<div id='details' class='reveal-modal tiny' data-reveal></div>
